.vs/CypressLauncher/FileContentIndex/767440e6-d902-4b54-9c3b-3b1f30104156.vsidx
.vs/CypressLauncher/v18/.suo
.vs/CypressLauncher/v18/DocumentLayout.backup.json
.vs/CypressLauncher/v18/DocumentLayout.json
bin/Debug/net8.0-windows/CypressLauncher.deps.json
bin/Debug/net8.0-windows/CypressLauncher.dll
bin/Debug/net8.0-windows/CypressLauncher.exe
bin/Debug/net8.0-windows/CypressLauncher.pdb
bin/Debug/net8.0-windows/CypressLauncher.runtimeconfig.json
bin/Debug/net8.0-windows/Newtonsoft.Json.dll
bin/Release/net8.0-windows/CypressLauncher.deps.json
bin/Release/net8.0-windows/CypressLauncher.dll
bin/Release/net8.0-windows/CypressLauncher.exe
bin/Release/net8.0-windows/CypressLauncher.pdb
bin/Release/net8.0-windows/CypressLauncher.runtimeconfig.json
bin/Release/net8.0-windows/Newtonsoft.Json.dll
obj/CypressLauncher.csproj.nuget.dgspec.json
obj/CypressLauncher.csproj.nuget.g.props
obj/CypressLauncher.csproj.nuget.g.targets
obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0-windows/apphost.exe
obj/Debug/net8.0-windows/CypressL.9116B77B.Up2Date
obj/Debug/net8.0-windows/CypressLauncher.assets.cache
obj/Debug/net8.0-windows/CypressLauncher.csproj.AssemblyReference.cache
obj/Debug/net8.0-windows/CypressLauncher.csproj.CoreCompileInputs.cache
obj/Debug/net8.0-windows/CypressLauncher.csproj.FileListAbsolute.txt
obj/Debug/net8.0-windows/CypressLauncher.csproj.GenerateResource.cache
obj/Debug/net8.0-windows/CypressLauncher.dll
obj/Debug/net8.0-windows/CypressLauncher.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows/CypressLauncher.genruntimeconfig.cache
obj/Debug/net8.0-windows/CypressLauncher.LaunchWindow.resources
obj/Debug/net8.0-windows/CypressLauncher.pdb
obj/Debug/net8.0-windows/CypressLauncher.Properties.Resources.resources
obj/Debug/net8.0-windows/CypressLauncher.sourcelink.json
obj/Debug/net8.0-windows/ref/CypressLauncher.dll
obj/Debug/net8.0-windows/refint/CypressLauncher.dll
obj/project.assets.json
obj/project.nuget.cache
obj/Release/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Release/net8.0-windows/apphost.exe
obj/Release/net8.0-windows/CypressL.9116B77B.Up2Date
obj/Release/net8.0-windows/CypressLauncher.assets.cache
obj/Release/net8.0-windows/CypressLauncher.csproj.AssemblyReference.cache
obj/Release/net8.0-windows/CypressLauncher.csproj.CoreCompileInputs.cache
obj/Release/net8.0-windows/CypressLauncher.csproj.FileListAbsolute.txt
obj/Release/net8.0-windows/CypressLauncher.csproj.GenerateResource.cache
obj/Release/net8.0-windows/CypressLauncher.dll
obj/Release/net8.0-windows/CypressLauncher.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net8.0-windows/CypressLauncher.genruntimeconfig.cache
obj/Release/net8.0-windows/CypressLauncher.LaunchWindow.resources
obj/Release/net8.0-windows/CypressLauncher.pdb
obj/Release/net8.0-windows/CypressLauncher.Properties.Resources.resources
obj/Release/net8.0-windows/CypressLauncher.sourcelink.json
obj/Release/net8.0-windows/ref/CypressLauncher.dll
obj/Release/net8.0-windows/refint/CypressLauncher.dll
.vs/CypressLauncher/FileContentIndex/f0bd79d4-6438-4324-880b-1b53e3b3d37b.vsidx
.vs/CypressLauncher/FileContentIndex/d199535c-c00b-47c2-9bf2-0c887661f3ac.vsidx
